var config = {
	auth: {
		client_id: '',
		client_secret: '',
		api_scope: 'notifications, repo'
	},
	db: {
		server: 'octoserver',
		version: 1,
		schema: {
			notifications: {
				key: { keyPath: 'id' }
			}
		}
	}
}